.sign {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.form-sign {
  width: 80%;
  max-width: 500px;
  padding: 40px 10px;
  gap: 130px;
  border-radius: 20px;
  font-size: 24px;
  background: var(--color-background-dark1);
  -webkit-box-shadow: 23px 24px 20px 0px rgba(34, 60, 80, 0.7);
  -moz-box-shadow: 23px 24px 20px 0px rgba(34, 60, 80, 0.7);
  box-shadow: 23px 24px 20px 0px rgba(34, 60, 80, 0.7);
}

.form-sign label {
  min-width: 150px;
  padding: 20px;
  text-align: left;
}

.form-sign button {
  min-width: 200px;
  margin-top: 20px;
}

.input-email,
.input-password {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
