main {
  margin-top: 100px;
}

form {
  width: 100%;
}

.editor-viewer {
  display: flex;
  justify-content: space-around;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 80vh;
  gap: 10px;
}

.editor {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 10px;
}

.input-endpoint {
  display: flex;
  gap: 20px;
}

#endpoint {
  flex-grow: 1;
}

.input-title {
  min-width: 80px;
  text-align: left;
}

.req-headers-wrapper {
  display: flex;
  flex-direction: column;
}

.req-headers-title,
.variables-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.req-headers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  margin-top: 5px;
  gap: 3px;
}

.req-headers input {
  flex-grow: 1;
}

.req-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.query {
  width: 100%;
  flex-grow: 1;
}

.variables {
  min-height: 150px;
  width: 100%;
}

.viewer {
  width: 45%;
}