:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --color-text: #FFFFFF;
  --color-text-dark: #000000;
  --color-link: #646cff;
  --color-link-hover: #8d92eb;
  --color-background: #2779A7;
  --color-background-dark1: linear-gradient(21deg, #750a79, #134e70);
  --color-background-dark2: linear-gradient(21deg, #47084b, #092f47);
  --color-textarea: #bde5fc;
  --color-btn: #FBEEC1;
  --color-btn-hover: #8D8741;
  --color-error: #FF0000;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-text);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-link-hover);
}

html {
  box-sizing: border-box;
  background-color: var(--color-background);
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--color-btn);
  transition: 0.5s;
}
button:hover {
  border-color: #646cff;
  background-color: var(--color-btn-hover);
  transition: 1s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-small {
  min-width: 120px;
  padding: 0.2em 2em;
/*   margin: 0.3em; */
}

.btn-del {
  padding: 0.2em 0.6em;
}

input {
  font-size: 16px;
  background-color: var(--color-textarea);
}

.link {
  margin: 20px;
  font-size: 22px;
}

.link:hover {
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
}

textarea {
  background-color: var(--color-textarea);
}

.hidden {
  display: none;
}
/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/